TOKEN=your_discord_bot_token_here
CLIENT_ID=your_application_client_id
GUILD_ID=your_discord_server_id
TICKET_CATEGORY_ID=category_channel_id_for_tickets
STAFF_ROLE_ID=staff_role_id
ADMIN_ROLE_ID=admin_role_id

RANK_ROLE_TRUSTED=rank_role_id_trusted
RANK_ROLE_LEGENDARY=rank_role_id_legendary
RANK_ROLE_GOLD=rank_role_id_gold
RANK_ROLE_EPIC=rank_role_id_epic
RANK_ROLE_SILVER=rank_role_id_silver

SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
SHEETS_SECRET=your_optional_secret_token

# Optional: custom data directory (defaults to ./data)
DATA_DIR=./data
